* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete{
    width:300px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

.entry{
    margin-bottom:40px;
}

.question{
    color:#3D5A80;
    font-size:26px;
    text-decoration:underline;
    margin-top:0px;
    margin-bottom:4px;
}

.details{
    color:#29324180;
    font-size:20px;
    text-decoration:none;
    margin-top:4px;
    margin-bottom:0px;
}

/* #### Loading icon #### */

#loadingIcon {
  border: 5vh solid #29324120;
  border-top: 5vh solid #3D5A80;
  border-radius: 50%;
  width:50vh;
  height:50vh;
  margin:auto;
  margin-top:20vh;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


