*{
    /* Style */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Helvetica;
    src: url('./Helvetica.ttf');
}

/* =========================== */
/* ====== Helper Styles ====== */
/* =========================== */
.content-center{
    /* Position */
    display:flex;
    justify-content:center;
    align-items:center;
}
.content-left{
    /* Position */
    display:flex;
    justify-content:left;
    align-items:center;
}
.content-right{
    /* Position */
    display:flex;
    justify-content:right;
    align-items:center;
}

.content-top{
    /* Position */
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

html{
    /* Position */
    width:100%; height:100%;
    overflow:hidden;
    /* Style */
    color:#293241;
    font:26px Helvetica;
}

body{
    /* Position */
    width:100%; height:100%;
    display:grid;
    grid-template-columns:auto 3.846154em;
    grid-template-rows: 3.846154em auto;
    /* Style */
    transition: grid-template-columns 0.3s ease-in-out;
}

/* ==================== */
/* ====== Header ====== */
/* ==================== */
header{
    /* Position */
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    /* Style */
    background-color:#98C1D9;
}
#header-logo{
    height:75%;
    margin:0.769231em;
}


/* ====================== */
/* ====== Menu Bar ====== */
/* ====================== */
aside{
    /* Position */
    width:19.230769em;
    right:-15.384615em;

    z-index:2;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display:grid;
    grid-template-columns:3.846154em auto;
    grid-template-row:repeat(3, 1fr);
    /* grid-gap:0.192308em; */
    justify-items: stretch;
    align-items: stretch;
    /* Style */
    background-color:#F2F2F2;
    border:0.192308em solid #EE6C4D;

    padding:0.615385em 0.615385em 0.615385em 0;
    transition: width 0.3s ease-in-out;
    overflow-y:auto;
    overflow-x:hidden;
    clear:left;
}
.aside-icon{
    /* Position */
    grid-column: 1 / 2;
    grid-row: auto;
}
.aside-icon > svg{
    /* Position */
    width:1.730769em;
    height:1.730769em;
    stroke:#293241;
}
.aside-input{
    /* Position */
    width:80%;
    height:1.923077em;
    margin-left:0;
    margin-right:0.615385em;
    padding:0.192308em 0.384615em;
    grid-column: 2 / 3;
    grid-row: auto;
    /* Style */
    color:#293241;
    font:1em Helvetica; 
}
.aside-section-label{
    padding-top:0.384615em;
    grid-column: 2 / 3;
}
.autocomplete-items > div{
    background-color:#DFDFDF;
    border:0.038462em solid #808080;
    color:#293241;
    font: 0.76923em Helvetica;
    padding:0.307692em;
    transition:font-size 0.05s ease-in-out;
}
.autocomplete-active{
    font-size:0.846154em!important;
    border:0.076923em solid black!important;
}
#close-menu{
    /* Position */
    grid-column: 2 / 3;
}
#air-date-container{
    width:100%;
    height:1.923077em;
    grid-column: 2 / 3;
    grid-row: auto;
}
#air-date-container > input{
    width:45%;
    height:100%;
    margin:0;
    margin-right:0.615385em;
    /* Style */
    color:#293241;
    font:1em Helvetica; 
}
#search-button{
    /* Position */
    padding:0.384615em;
    width:75%;
    height:100%;
    grid-column: 2 / 3;
    /* Style */
    border:none;
    background-color:#293D56;
    border-radius:10.192308em;
}
#search-button > svg{
    /* Position */
    stroke:white;
}

/* ===================== */
/* ====== Content ====== */
/* ===================== */
#search-results{
    /* Position */
    position:relative;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /* Style */
    background-color: #FFFFFF;
    display:flex;
    flex-direction:column;
    justify-content

    overflow-y:auto;
    overflow-x:hidden;
}

.entry{
    padding:0.76923em;
    padding-bottom:0;

}
.question{
    /* Style */
    font:1em Helvetica; 
    color:#293D56;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.details{
    /* Position */
    padding-left:0.384615em;
    /* Style */
    font:0.76923em Helvetica; 
    color:#29324180;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

#answer-screen{
    /* Position */
    position:relative;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns:repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    ". q q q q q q q q x"
    ". q q q q q q q q ."
    ". q q q q q q q q ."
    ". . a a a a a a a ."
    ". . d d d d d d d .";
    /* Style */
    padding:0.769231em;
    background-color:#F2F2F2;
    overflow-y:auto;
    overflow-x:hidden;
}
#answer-screen-close{
    /* Position */
    margin:0;
    padding:0.1em;
    width:100%;
    height:100%;
    grid-area:x;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:end;
}
#answer-screen-close > svg{
    width:1.538462em;
    height:1.538462em;
    stroke:#293241;
}
#answer-screen-question{
    /* Position */
    grid-area:q;
    padding:2em;
    text-align:center;
    /* Style */
    white-space: wrap;
    background-color:#FFFFFF;
    border-radius:0.384615em;
}
#answer-screen-answer{
    /* Position */
    grid-area:a;
    width:80%;
    height:80%;
    margin:0.5em 1em;
    padding:1.5em;
    text-align:center;
    /* Style */
    background-color:#98C1D9;
    border-radius:0.192308em;
}
#answer-screen-details{
    /* Position */
    width:100%;
    height:100%;
    padding: 0.5em 1em;
    grid-area:d;
    /* Style */
    color:#29324180;
}

#loading-icon-container{
    /* Position */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width:100%;
    height:100%;
    padding:2em;
}
#loading-icon{
    /* Position */
    z-index:10;
    /* Style */
    border: 2em solid #f3f3f3;
    border-top: 2em solid #3D5A80;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Adjust layout if on portrait phone or tablet */
@media only screen and (max-width: 767px) and (orientation: portrait) {

}

/*
 * Thank you
 * https://stackoverflow.com/questions/16443380/common-css-media-queries-break-points 
 * for the recommended sisez
 * */
